html,
body {
  margin: 0;
  padding: 5px 5px;
  height: 100%;
  background-color: #ffffff;
}

.navBar {
  height: 10%;
  width: auto;
  text-align: center;
  padding: 1vh 2vw;
  border-bottom: 2px solid black;
  box-shadow: 0 3px 5px 0 #f9e795;
  background-color: #ffffff;
}

.navBar .title {
  font-size: 36px;
  font-family: monospace;
}

.container {
  text-align: center;
  box-shadow: 3px 3px 3px 3px black;
  margin-top: 10vh;
  width: max-content;
  height: max-content;
  padding: 3vh 3vw;
  background-color: #ffa351;
}

.col-md-12 {
  padding: 0;
}
.col-md-12 label {
  border: 2px solid black;
  width: 15vw;
}

.col-md-12 input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

.col-md-12 span {
  margin-right: 10px;
  font-size: 18px;
}

.col-md-12 input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
}

.col-md-6 select {
  background-color: white;
  outline: none;
  border: 2px solid black;
  border-radius: 5px;
}

#label {
  display: block;
  font-size: 12px;
  text-align: left;
}

#showBtn {
  width: 40%;
  /* display: none; */
}

.container-fluid {
  box-shadow: 3px 3px 3px 3px black;
  margin-top: 10vh;
  width: max-content;
  height: 60%;
  padding-top: 5vh;
  background-color: #eed971;
}

#showDetails {
  width: 80%;
  height: max-content;
  margin-bottom: 5vh;
  padding: 2vh 2vw;
  max-height: 600px;
  overflow-y: scroll;
  scrollbar-width: min;
}

#showDetails .col-md-4,
.col-sm-12 {
  margin-top: 5px;
}

#error {
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color: red;
}

.text-center button {
  width: 60%;
}

#showDetails table {
  table-layout: fixed;
  width: 100%;
}
#showDetails th {
  border: 2px solid black;
  text-align: center;
  word-wrap: break-word;
  width: 100%;
}
#showDetails td {
  border: 2px solid black;
  word-wrap: break-word;
  padding: 2px 5px;
  text-align: left;
  width: 100%;
}

#userDetails button {
  margin-right: 5px;
}

#search {
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  html,
  body {
    padding: 2vh 2vw;
  }
  .container {
    height: auto;
    width: 100%;
    padding: 2vh 2vw;
  }
  #showDetails {
    padding: 2vh 2vw;
    width: 100%;
  }
  #showDetails th {
    width: 35vw;
  }

  #showDetails .individual {
    margin-top: 10px;
  }
  #label {
    text-align: center;
  }
  #error {
    text-align: center;
  }
  .row {
    padding-bottom: 2vh;
  }

  .col-md-12 input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 95%;
    margin-bottom: 2vh;
  }
}
